* {
    box-sizing: border-box;
    margin: 0;
    font-family:sans-serif;
}

:root {
    --dark-color: rgb(100,100,100);
    --medium-color: lightblue;
    --light-color:#f0f9ff;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 800;
}

.header {
    padding: 10px 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medium-color);
}

.logo {
    height: 50px;
}

.github-logo {
    height: 25px;
}

/* NAV  */
.nav>ul {
    display: flex;
    gap: 40px
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--dark-color);
}
a:hover {
    text-decoration: underline;
}

.header, footer {
    flex:1;
}

.main-name {
    color: black;
}

.main-message {
    color: var(--dark-color)
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    box-shadow: 1px 2px 3px inset lightgray;
}

ul> li {
    font-size: 1.2rem;
    font-weight: 600;
}

/* FOOTER */
footer {
    background-color: var(--medium-color);
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-weight: 600;
}
.footer-github {
    display: flex;
    align-items: center;
}

/* PROJECTS */



.project-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 0;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60vw;
    padding: 10px;
    gap: 50px;
}

.project-img > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.project-description {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
    color: gray;
}

.description {
    flex-grow: 1;
    font-size: 1.2rem;
}

input[value="View Code"], input[value="Live Preview"] {
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
    border-radius: 10px;
}

input:hover {
    background-color: var(--dark-color);
    color: white;
    cursor: pointer;
}